<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">
  <mdb-navbar-brand class="mx-auto">
    <a class="logo navbar-brand white-text"><strong>MDB Angular Sample PWA</strong></a>
  </mdb-navbar-brand>
</mdb-navbar>
<!--/.Navbar-->

<div class="container">

  <h2 class="text-center h2-responsive mt-5">MDB Angular Progressive Web App</h2>

  <div class="row">
    <div class="col-md-12 mx-auto my-5 d-flex flex-center">
      <button mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="checkForUpdates()">Check
        For Updates</button>
      <button mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="forceUpdate()">Force
        Update</button>
    </div>
  </div>

  <h3 class="text-center h3-responsive">Change me to observe app update!</h3>
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">New version</h4>
        </div>
        <div class="modal-body">
          A new version of the application has appeared. Do you want to update?
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
            mdbWavesEffect>Don't update</button>
          <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect (click)="forceUpdate()">Update!</button>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="footer-copyright fixed-bottom blue py-3 text-center text-white">
  © 2018 Copyright:
  <a class="text-white" href="https://mdbootstrap.com/angular"> MDBootstrap.com </a>
</footer>
